<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:decorator="layout/template">
<head>
	<title th:title-pattern="$CONTENT_TITLE">Template</title>
	<object th:include="layout/head :: head" th:remove="tag" ></object>
</head>

<body>
	 <div th:replace="layout/header" th:remove="tag"></div>
	 <div class="container">
		 <div th:fragment="body">
			<form action="#" th:action="@{/post/addperson}" th:object="${person}" method="post" class="form-group">
				<label for="name">Nombre</label>
				<input type="text" name="name" th:field="*{name}" class="form-control"></input>
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				<label for="age">Edad</label>
				<input type="number" name="age" th:field="*{age}" class="form-control"></input>
				<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
				<input type="submit" value="ENVIAR" class="btn btn-primary" ></input>
			</form>
		</div>
		
	<div th:fragment="test">
		Este es un Test en FORM.
	</div>
	
	</div>
	
	
</body>
</html>