<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:decorator="layout/template">
<head>
	<title th:title-pattern="$CONTENT_TITLE">Cursos</title>
	<object th:include="layout/head :: head" th:remove="tag" ></object>
</head>

<body>
	<div th:replace="layout/header" th:remove="tag"></div>
 	<div class="container-fluid">
		<div class="panel-body">
		<div th:fragment="body">
			<div class="row">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Hours</th>
							<th>Price</th>				
						</tr>
					</thead>
					<tbody>
						<tr	th:each="course : ${cursos}">
							<td><span th:text="${course.name}"></span></td>
							<td><span th:text="${course.hours}"></span></td>
							<td><span th:text="${course.description}"></span></td>
							<td>$ <span th:text="${course.price}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
			<div class="row">
				<div class="panel-body">
				<form action="#" th:action="@{/course/save}" th:object="${course}" method="post" class="form-group">
					<p>NAME: <input type="text" name="name" th:field="*{name}" class="form-control"></input></p>
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					<p>DESCRIPTION: <input type="text" name="description" th:field="*{description}" class="form-control"></input></p>
					<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
					<p>PRICE: <input type="number" name="price" th:field="*{price}" class="form-control"></input></p>
					<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
					<p>HOURS: <input type="number" name="hours" th:field="*{hours}" class="form-control"></input></p>
					<p th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}"></p>
					
					<input type="submit" value="ENVIAR" class="btn btn-success"></input>
				</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>